*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

html{
    font-family: 'Raleway', sans-serif;
    background-color: #1e1e1e;
    color:#FDFFFC;
}

h1{
    font-family: 'PT Serif', serif;
    text-align: center;
}

.imagenPrincipal{
    display: flex;
    justify-content: center;
}

#logo{
    width:150px;
}

form{
    text-align: center;
}

input[type="submit"]{
    width:200px;
    height:50px;
    font-size:2em;
    background-color: #235789;
    border:none;
    border-radius:10px;
    color:#FDFFFC;
    cursor: pointer;
}

input[type="submit"]:hover{
    background-color: #1D4870;    
}

input[type="submit"]:active{
    background-color:#1f3a5a;    
}

.info{
    display:flex;
    align-items: center;
    flex-direction:column;
    text-align: center;
    margin-top:50px;
}

#direccion{
    margin-top:25px;
}

.numero{
    display: flex;
    justify-content: center;
    align-items: center;
    width:200px;
    margin-top:10px;
}

#circulo{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FDFFFC;
    border-radius: 100%;
    width:30px;
    height: 30px;
    float:left;
}

#phoneIcon{
    width:20px;
    height:20px;  
}

#telefono{
    margin-left:10px;
}

/* Estilo menu Hamburguesa */

li{
    list-style:none;
}

.respmenu a{
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color:#FDFFFC;
}

.respmenu a:hover{
    font-weight: bold;
}

.cerrarSesion{
    color:black;
    background-color:#C1292E;
}

.cerrarSesion:hover{
    background-color: #891D20;
}

.cerrarSesion:active{
    background-color:#6E171A;
}

.check{
    position: absolute;
    left:17px;
    top: 30px;
    width: 50px;
    height: 48px;
    z-index: 3;
    opacity: 0;
    cursor: pointer;
}

.respmenu{
    position:absolute;
    top:0;
    width:175px;
    left:-40vw;
    height: 100%;
    background-color: #41403F;
    transition:all;
    transition-duration:0.5s;
}

nav{
    top:100px;
    position:absolute;
    display: block;
    width: 100%;
}

.check:checked  ~.respmenu{
    transform: translate(40vw);   
}

.superior{
    margin-top:40px;
}

.menuH{
    position: absolute;
    left:15px;
    z-index:2;
    float:left;
}

.hamburguesa{
    margin-left: 5px;
    margin-bottom:10px;
    width:45px;
    height:5px;
    border:1px solid #FDFFFC;
    background-color: #FDFFFC;
    border-radius: 15px;
}

/* HTML animacion menu hamburguesa */

.bar1, .bar2, .bar3{
    transition: all;
    transition: 0.5s;
}

.check:checked  ~.superior .menuH .bar1{
   transform-origin: left;
   transform:rotateZ(46deg) translate(-0.5px) translateY(-0.5px);
}

.check:checked  ~.superior .menuH .bar2{
    transform-origin: left;
    transform:scale(0);
} 

.check:checked  ~.superior .menuH .bar3{
    transform-origin: left;
    transform:rotateZ(-46deg) translate(-1.5px) translateY(-0.5px);
} 

/* media queries para version de escritorio */

@media (min-width:1600px){
    #logo{
        width:300px;
    }

    h1{
        text-align: left;
        margin-left: 250px;
        font-size: 4em;
    }

    .menuH, .check{
        margin-top:30px;
    }

    .respmenu{
        width:225px;
    }

    ul{
        margin-top: 30px;
    }

    .imagenPrincipal{
        justify-content: left;
        margin-left: 300px;
        margin-top:50px;
    }

    form{
        text-align: left;
        margin-left: 300px;
        margin-top: 25px;
    }

    input[type="submit"]{
        width:300px;
        height:100px;
        font-size: 3em;
    }
    
    .info{
        position:absolute;
        top:100px;
        left:1000px;
        font-size:1em;
    }

    iframe{
        width:600px;
        height:500px;
    }
    
}



